# This is a template topic generator config file for prod. Modify it for different environments.
[dockstore]
server-url: https://dockstore.org/api
token: YOUR_ADMIN_OR_CURATOR_DOCKSTORE_TOKEN


[ai]
# The openai-api-key is only needed if using the topic generator with OpenAI models
openai-api-key: OPTIONAL_OPENAI_API_KEY